<div class="main" id="main">
    <div class="row first-row align-items-center">
        <!-- breadcrumbs -->
        <div class="col-md-10 col-12">
            <div class="breadcrumb">
                <span class="home-icon"><i class="bi bi-house-door-fill"></i></span>
                <a href="/superadmin/dashboard" class="breadcrumb-item">Dashboard</a> &nbsp;
                <i class="bi bi-chevron-right"></i> &nbsp;
                <a routerLink="/superadmin/bonus" class="breadcrumb-item">Bonus</a> &nbsp;
                <i class="bi bi-chevron-right"></i> &nbsp;
                <a class="breadcrumb-item">View Details</a>
            </div>
        </div>
        <!-- breadcrumbs -->

        <!-- <div class="col-md-2 col-12 text-md-end text-end button-group">
      <button class="bttn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="bi bi-plus"></i> Add
      </button>
    </div> -->
    </div>

    <div class="box">
        <app-table [arrList]="arrList" [arrColumns]="arrColumns" [blnForDelete]="blnForDelete" [blnNoEdit]="blnNoEdit"
            [blnHasSingleview]="blnHasSingleview" (objPresentationEvent)="eventFromTable($event)">
        </app-table>
    </div>
</div>





<div *ngIf="Loader" class="spinner-container">
    <div class="spinner"></div>
</div>