<div class="main" id="main">

    <div class="row first-row align-items-center">
        <!-- breadcrumbs -->
        <div class="col-lg-5 col-md-5 col-12 mb-2 mb-md-0">
            <div class="breadcrumb">
                <span class="home-icon"><i class="bi bi-house-door-fill"></i></span>
                <a routerLink="/superadmin/dashboard" class="breadcrumb-item">Dashboard</a> &nbsp;
                <i class="bi bi-chevron-right"></i> &nbsp;
                <a routerLink="/superadmin/attendance" class="breadcrumb-item">Attendance</a>
            </div>
        </div>


        <!-- <button class="bttn1" type="button" data-bs-toggle="modal" data-bs-target="#manualentry">
                Manual Entry
            </button> -->

        <!-- buttons aligned right but slightly shifted left -->
        <div class="col-lg-7 col-md-7 col-12 d-flex justify-content-end gap-2 pe-3">
            <button class="bttn1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="bi bi-plus"></i>Upload File
            </button>


        </div>
    </div>



   <div class="box">
    <!-- Monthly Attendance -->
    <div class="table-container">
        <div class="table-scrollable table-responsive">
            <table class="table table-striped table-custom-spacing">
                <thead class="sticky-header">
                    <tr class="text-center">
                        <th>SlNo</th>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Uploaded on</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of paginatedattendance; let i = index">
                        <tr class="text-center">
                            <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                            <td>{{ item.year }}</td>
                            <td>{{ item.month }}</td>
                            <td>{{ item.uploaded_on }}</td>
                            <td>
                                <div class="button-group">
                                    <button *ngIf="item.attendancefile && item.attendancefile !== 'Manual'"
                                        class="bt-icon" (click)="setDownloadIds(item)">
                                        <img src="\assets\images\excel-icon.png" alt="" class="icon-img">
                                    </button>
                                    <button class="button" (click)="view(item)">
                                        <i class="bi bi-eye-fill icon"></i>
                                    </button>
                                    <button class="button" data-bs-toggle="modal"
                                        data-bs-target="#deletemodal"
                                        (click)="setDeleteIds(item, 'monthly')">
                                        <i class="bi bi-trash-fill icon"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="paginator-container">
            <p-paginator [rows]="itemsPerPage" [totalRecords]="attendancelist.length"
                [rowsPerPageOptions]="itemsPerPageOptions" (onPageChange)="onPageChange($event)"
                [dropdownAppendTo]="'body'">
            </p-paginator>
        </div>
    </div>
</div>





    <!-- modal for upload monthly attendance -->


    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true" (hidden.bs.modal)="onModalHidden()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header p-3">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Attendance</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="AddForm">

                        <!-- Attendance File -->
                        <div class="mb-3">
                            <label for="attendance-file" class="form-label">Attendance File</label>
                            <div class="file-upload card">
                                <div class="upload-container">
                                    <span id="attendance-file-name">{{ selectedAttendanceFileName || 'No file selected'
                                        }}</span>
                                    <label for="fileUpload" class="custom-file-upload">
                                        Choose
                                        <input type="file" id="fileUpload" (change)="onFileSelected1($event)"
                                            formControlName="attendanceFile">
                                    </label>
                                </div>
                            </div>
                        </div>


                        <!-- Month Selection -->
                        <div class="mb-3">
                            <label for="monthSelect" class="form-label">Month</label>
                            <select class="form-select" id="monthSelect" formControlName="month">
                                <option selected disabled hidden value="">Select</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                        </div>

                        <!-- Year Input -->
                        <div class="mb-3">
                            <label for="year" class="form-label">Year</label>
                            <input type="number" class="form-control" id="year" placeholder="Enter year"
                                formControlName="year" min="1900" max="2099" step="1">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="upload-bttn" (click)="addAttendanceFileFn()">Upload</button>
                </div>
            </div>
        </div>
    </div>

    <!-- daily punch upload -->

   


    <!-- modal for edit attendance -->
    <div class="modal fade" id="editmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true" (hidden.bs.modal)="onModalHidden()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header p-3">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Attendance</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="EditForm">

                        <!-- Attendance File -->
                        <div class="mb-3">
                            <label for="attendance-file" class="form-label">Attendance File</label>
                            <div class="file-upload card">
                                <div class="upload-container">
                                    <label for="fileUpload" class="custom-file-upload">
                                        Update
                                        <input type="file" id="fileUpload" (change)="onFileSelected1($event)"
                                            formControlName="attendanceFile">
                                    </label>
                                    <span class="file_name_attendance">{{ selectedAttendanceFileName || 'No file
                                        selected' }}</span>
                                </div>
                            </div>
                        </div>

                        <!-- Month -->
                        <div class="mb-3">
                            <label for="monthSelect" class="form-label">Month</label>
                            <input type="text" class="form-control" id="month" placeholder="Enter month"
                                formControlName="month" readonly>
                        </div>

                        <!-- Year -->
                        <div class="mb-3">
                            <label for="year" class="form-label">Year</label>
                            <input type="number" class="form-control" id="year" placeholder="Enter year"
                                formControlName="year" readonly>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="upload-bttn" (click)="editAttendanceFileFn()">Update</button>
                </div>
            </div>
        </div>
    </div>



    <!-- modal for delete attendance -->
    <div class="modal fade" id="deletemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">
                        <i class="bi bi-exclamation-triangle-fill fs-1 ms-3"></i> &nbsp; Delete Data
                    </h5>
                    <button type="button" class="btn-close me-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="col-12">
                            <h6 class="text-center">Are you sure you want to delete this data?</h6>
                        </div>
                        <div class="text-center button-model">
                            <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal"
                                aria-label="Close">Close</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-danger w-25" data-bs-dismiss="modal"
                                (click)="deleteAttendance()">Delete</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal for excel download-->


    <div cdiv class="modal fade custom-download-modal" id="downloadexcel" data-bs-backdrop="static"
        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"
        (hidden.bs.modal)="onModalHidden()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Download Excel</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column align-items-center">
                        <div class="download-card mb-2" (click)="downloadFile('attendance')">Download Attendance</div>
                        <!-- <div *ngIf="Isot === 'Yes'" class="download-card mb-2" (click)="downloadFile('ot')">Download OT
                        </div> -->
                        <!-- <div *ngIf="Isincentive === 'yes'" class="download-card" (click)="downloadFile('incentive')">
                            Download Incentive</div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>




    <div *ngIf="Loader" class="spinner-container">
        <div class="spinner"></div>
    </div>