.box {
  border: 0.5px solid #b0b0b0;
  height: auto;
  margin: 34px 50px 8px 44px;
  padding: 30px 40px 50px 40px;
}

/* modal */
.modal-content {
  margin-top: 168px;
}

.bttn {
  background-color: #132742;
  color: #fff;
  width: 100px;
  height: 42px;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  margin-top: 10px;
  margin-left: 40px;
  border-radius: 5px 5px 5px 5px;
  border: none;
}
.bttn:hover {
  background-color: #3e5472;
}

::ng-deep .p-button-label {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.bi-exclamation-triangle-fill {
  color: red;
  font-size: 30px;
  margin-left: 0px;
}

::ng-deep .p-dialog .p-dialog-header {
  border: 1px solid rgb(247, 247, 247);
  padding: 10px;
}

.modal-header {
  border: 1px solid rgb(246, 244, 244);
  padding: 5px;
}

/* modal */


/* filter */


.filter-body {
  border: 0.1px solid #c8c7c7;
  width: 91%;
  margin: 4px auto;
  padding: 0px 40px;
  background-color: #f8f7f7;
  height: auto;
  border-radius: 10px;
}

.vertical-line-border {
  border-left: 0.1px solid #c8c7c7;
  height: 350px;
  margin-left: 40px;
}

.filter-search,
.filter-search1 {
  background-color: #132742;
  border: none;
  border-radius: 6px;
  color: #fff;
}

.filter-search {
  width: 102px;
  height: 42px;
  margin-left: auto;
  margin-top: 20px;
}

.filter-search1 {
  width: 54px;
  height: 42px;
  margin-left: 22px;
  margin-top: 102px;
}

@media (max-width: 768px) {
  .filter-body {
    width: 100%;
    padding: 0 20px;
    margin: 4px 0;
  }

  .vertical-line-border {
    display: none;
  }

  .filter-search,
  .filter-search1 {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

  .form-label {
    margin-top: 20px;
  }

  .form-select {
    height: 46px;
    font-size: 13px;
  }

  .search .d-flex {
    flex-direction: column;
  }

  .form-check {
    margin-bottom: 10px;
  }
}

.form-label {
  margin-top: 30px;

}

.form-select {
  height: 46px;
  font-size: 13px;
}

.form-select option {
  color: #000;
}

.form-select:focus {
  color: #000;
}

.form-select option[value=""][disabled] {
  display: none;
}

.search .form-control {
  height: 46px;
}

.form-control::placeholder {
  font-size: 13px;
}

.filter-body .form-label {
  font-weight: 500;
}


.form-check-label {
  font-size: 14px;
}

/* button */

.button {
  border: none;
}

.bi {
  font-size: 19px;
}


.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #343a40;
  color: #ffffff;
}

.table-scrollable {
  max-height: 535px;
  overflow-y: auto;
  overflow-x: auto;
}

.form-check-input:checked {
  background-color: #132742;
  border-color: #132742;
}

.form-check-input:checked:focus {
  border-color: #132742;
  box-shadow: 0 0 0 0.25rem rgba(85, 151, 111, 0.25);
}

.form-check-input:checked+.form-check-label::before {
  background-color: #132742;
  border-color: #132742;
}

/* Adjust the modal position towards the top */
.modal-dialog {
  margin-top: -100px;
}

.button-model {
  padding-top: 25px;
  padding-bottom: 30px;
}

/* sort */

.chevron-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

.chevron-container i {
  font-size: 12px;
  line-height: 1;
}

.th-container {
  display: flex;
  align-items: center;
}

.form-check-input.table-check {
  width: 25px;
  height: 25px;
}

/* General Table Styling */
.table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 1000px;
}

/* Header */
.table th {
  padding: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: black;
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;
  border-bottom: 2px solid #e6e4e4;
  border-top: none;
  text-transform: uppercase;

}

.table tbody tr:hover {
  background-color: rgba(19, 39, 66, 0.1);
  transition: background-color 0.3s ease;
}

/* Cells */
.table td {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #333333;
  text-align: center;
  padding: 0.7rem;
  border: none;
  vertical-align: middle;
}

/* Row and Cell Effects */
td {
  height: 55px;
  border: none !important;
}

tr {
  transition: all 0.3s ease-in-out;
}

.table-responsive {
  overflow-x: auto;
  width: 100%;
}

/* Paginator - Right Align */
::ng-deep .p-paginator {
  justify-content: flex-end !important;
  margin-top: 16px;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 2rem !important;
  border-radius: 4px;
  height: 32px;
  background-color: #e6e4e4;
  color: #333333;
  margin: 0 4px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:hover {
  background-color: #132742;
  color: white;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #132742;
  color: white;
  font-weight: bold;
}


.table-custom-spacing tbody tr {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

/* table */

/* select */

.shift-cell {
  width: 20%;
  min-width: 150px;
}

.custom-select {
  text-align: center;
  border: none;
  background-color: transparent;
  margin-left: -20px;
  color: black;
  font-size: 16px;
 }

.custom-select:focus {
  outline: none;
  box-shadow: none;
}

