<div class="main" id="main">
    <div class="row first-row align-items-center">
        <!-- breadcrumbs -->
        <div class="col col-md-7 col-12 mb-2 mb-md-0">
            <div class="breadcrumb">
                <span class="home-icon"><i class="bi bi-house-door-fill"></i></span>
                <a href="/superadmin/dashboard" class="breadcrumb-item">Dashboard</a> &nbsp;
                <i class="bi bi-chevron-right"></i> &nbsp;
                <a routerLink="/superadmin/employeelist" class="breadcrumb-item">View Employee</a>
            </div>
        </div>

        <!-- buttons -->
        <div class="col-md-5 col-12 d-flex justify-content-md-end justify-content-center gap-2">
            <button class="bttn" type="button" (click)="toggleInputRow()">
                Filter <i class="bi bi-funnel-fill"></i>
            </button>
            <div class="but2">
                <a class="btn-link">
                    <button class="bttn1" type="button" (click)="openUploadModal()">
                        <i class="bi bi-plus"></i>Upload
                    </button>
                </a>
            </div>
            <div class="but2">
                <a routerLink="/superadmin/addemployees" class="btn-link">
                    <button class="bttn1" type="button"><i class="bi bi-plus"></i>Add</button>
                </a>
            </div>
        </div>



        <div class="row" *ngIf="showInputRow">
            <div class="mb-3 filter-body">
                <form [formGroup]="EmployeefilterForm">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-3">
                            <label for="Company" class="form-label">Company</label>
                            <select class="form-select" aria-label="Default select example" formControlName="Company"
                                (change)="selectCompany($event, 'add')">
                                <option value="" disabled selected>Select Company</option>
                                <option [value]="Company['id']" *ngFor="let Company of Companylist">{{
                                    Company['unitname'] }}
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-3">
                            <label for="Department" class="form-label">Department</label>
                            <select class="form-select" aria-label="Default select example" formControlName="Department"
                                (change)="selectByDepartment($event, 'add')">
                                <option value="" disabled selected>Select Department</option>
                                <option [value]="dept['id']" *ngFor="let dept of departments">{{ dept['departmentname']
                                    }}</option>
                            </select>
                        </div>

                        <div class="col-lg-2 col-md-6 mb-3">
                            <label for="Shift" class="form-label">Status</label>
                            <select class="form-select" aria-label="Default select example" formControlName="Status">
                                <option value="" disabled selected>Select Status</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">InActive</option>

                            </select>
                        </div>

                        <div class="col-lg-2 col-md-6 mb-3">
                            <label for="Role" class="form-label">Role</label>
                            <select class="form-select" aria-label="Default select example" formControlName="Role">
                                <option value="" disabled selected>Select Role</option>
                                <option value="Staff">Staff</option>
                                <option value="OfficeStaff">Office Staff</option>

                            </select>
                        </div>

                        <div class="col-lg-2 col-md-6 mb-3 d-flex align-items-end">
                            <button class="filter-search" (click)="getFilterEmpTableFn()"><i
                                    class="bi bi-funnel-fill"></i></button>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-lg-5 col-md-6 mb-3">
                            <label for="Search" class="form-label">Search</label>
                            <div class="d-flex align-items-center">
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" formControlName="searchOption"
                                        id="flexRadioDefault1" value="name" (change)="resetInputField()">
                                    <label class="form-check-label" for="flexRadioDefault1">Name</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" formControlName="searchOption"
                                        id="flexRadioDefault2" value="employeeid" (change)="resetInputField()">
                                    <label class="form-check-label" for="flexRadioDefault2">Employee ID</label>
                                </div>
                            </div>
                            <div *ngIf="EmployeefilterForm.get('searchOption')?.value === 'name'">
                                <input type="text" class="form-control mt-2" id="SearchName"
                                    placeholder="Enter employee name" formControlName="searchKeyword"
                                    (input)="onInputChange()">
                            </div>
                            <div *ngIf="EmployeefilterForm.get('searchOption')?.value === 'employeeid'">
                                <input type="text" class="form-control mt-2" id="SearchID"
                                    placeholder="Enter employee ID" formControlName="searchKeyword"
                                    (input)="onInputChange()">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 mb-3 d-flex align-items-end">
                            <button class="filter-search1" (click)="searchEmpFn()"><i class="bi bi-search"></i></button>
                        </div>

                        <div class="col-lg-5 col-md-6 mb-3 d-flex align-items-end">
                            <button class="filter-search3" (click)="clearfilter()">Clear Filter</button>
                        </div>

                        <!-- <div class="col-lg-4 col-md-6 mb-3 document-expiry">
                            <label for="Shift" class="form-label">Document Expiry Status</label>
                            <select class="form-select" aria-label="Default select example" formControlName="Status"
                                (change)="selectexpiryStatus($event, 'add')">
                                <option value="All" selected>All</option>
                                <option value="No">Expired</option>
                                <option value="Yes">Expired Soon</option>

                            </select>
                        </div> -->
                    </div>
                </form>

            </div>
        </div>

    </div>

    <div class="box">
        <app-table [arrList]="arrList" [arrColumns]="arrColumns" [blnHasSingleview]="blnHasSingleview"
            [blnNoEdit]="blnNoEdit" [blnForDelete]="blnForDelete" [blnHasProfile]="blnHasProfile"
            (objPresentationEvent)="eventFromTable($event)" class="custom-table">
        </app-table>
    </div>


</div>




<!-- Upload Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Upload Employee Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <!-- Download Template -->
                <div class="mb-3 text-center">
                    <a href="\assets\excels\employees.xlsx" download class="btn btn-outline-primary">
                        <i class="bi bi-download"></i> Download Excel Template
                    </a>
                </div>

                <!-- Upload Filled Template -->
                <div class="mb-3">
                    <label for="fileInput" class="form-label">Upload Filled Excel</label>
                    <input id="fileInput" type="file" accept=".xlsx, .xls" class="form-control"
                        (change)="onFileSelected($event)">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn upload-btn" (click)="uploadFile()">Upload</button>
            </div>

        </div>
    </div>
</div>





<!-- Modal for delete  -->
<p-dialog [(visible)]="deleteCountryModal" [modal]="true" [style]="{width: '35vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="row body-row p-1 ">
        <div class="col-2"><i class="bi bi-exclamation-triangle-fill"></i></div>
        <div class="col-10">
            <h1 class="delete-title">Delete Employee ?</h1>
        </div>
        <p class="justify-content-center d-flex mt-3">Are you sure you want to delete this Employee?</p>
    </div>
    <ng-template pTemplate="footer">
        <div class=" justify-content-center d-flex mt-5">
            <button type="button" pButton class=" close-btn "
                (click)="deleteCountryModal = false">Close</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" pButton class=" btn-delete" (click)="deleteVehicle()">Delete</button>
        </div>
    </ng-template>
</p-dialog>
<!-- Modal for delete -->


<div *ngIf="Loader" class="spinner-container">
    <div class="spinner"></div>
</div>