/* breadcrums start */

.breadcrumb {
  list-style: none;
  padding: 10px;
  margin-left: 40px;
}

.breadcrumbs {
  position: relative;
  display: inline-block;
}

.breadcrumbs:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 10px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"%3E%3Cpath fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}

.bi-house-door-fill {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.breadcrumb a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}



.home-icon {
  margin-right: 5px;
}

.arrow-icon {
  margin: 0 5px;
}

.bi-chevron-right {

  max-width: 25px;
  font-size: 13px;
  margin-top: 5px;

}

.bi-chevron-right::before {
  font-weight: bolder !important;
}


/* breadcrums end */




.box {
  /* border: 0.5px solid #b0b0b0; */
  height: auto;
  margin: 34px 50px 8px 44px;
  padding: 40px 0;
}


/* modal */
.modal-content {
  margin-top: 168px;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.button-group {
  margin-left: -40px;
}



.bttn,
.but2 .bttn1 {
  background-color: #132742;
  color: #fff;
  height: 42px;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.upload-btn {
  background-color: #132742;
  color: #fff;
  height: 42px;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.cancel-btn {
  background-color: #d2d2d2;
  color: #000000;
  height: 42px;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.btn-outline-primary{
 color: #0c0c0c;
 border: 1px solid #132742;

}

.btn-outline-primary:hover {
  background-color: #1327423f;
}

.but2 .bttn1 {
  margin-right: 40px;
  width: 100%;
}


.but2 .btn-link {
  display: block;
  text-align: center;
  margin-left: 6%;
  margin-right: 6%;
}

.bttn {
  /* margin-right: 40px; */
  width: 250px;
}

/* General responsiveness */
@media (max-width: 1099px) {

  .bttn,
  .but2 .btn-link {
    width: 100%;
    font-size: 16px;
  }
}

/* Tablet responsiveness */
@media (max-width: 1024px) {

  .col-md-7,
  .col-md-3,
  .col-md-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .bttn,
  .but2 .btn-link {
    font-size: 16px;
    margin-right: 6%;
    margin-left: 6%;
    margin-top: 8px;

  }

  .breadcrumb {
    text-align: center;
  }
}

/* Smaller screens */
@media (max-width: 768px) {

  .bttn,
  .but2 .btn-link {
    font-size: 14px;
  }

  .breadcrumb {
    font-size: 14px;
    text-align: center;
  }
}

.bttn1 a {
  text-decoration: none;
  color: #fff;
}


::ng-deep .p-button-label {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}


.bttn:hover {
  background-color: #3e5472;
}

.country-add {
  width: 90%;
  margin-left: 22px;
  height: 51px;
}

.country-label {
  margin-left: 22px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.bi-exclamation-triangle-fill {
  color: red;
  font-size: 30px;
  margin-left: 0px;
}

.delete-title {
  text-align: center;
  margin-left: -13rem;
  margin-top: 9px;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: rgb(234, 70, 70);
}

.btn-delete {

  background: rgb(234, 70, 70);
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 25%;
  height: 42px;
  border: none;
  text-align: center;
  justify-content: center;
  display: flex;

}

.close-btn {
  background-color: #b8b5b5;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  width: 25%;
  height: 42px;
  border: none;
  color: #000;
  text-align: center;
  justify-content: center;
  display: flex;
}



.close-btn:hover {
  background-color: #9c9595;
}

.btn-delete:hover {
  background: rgb(206, 39, 39);
}

.body-row {
  margin-top: -50px;
  z-index: 0;
  position: absolute;
}

.form-select {
  height: 51px;
  width: 90%;
  margin-left: 22px;
}

::ng-deep .p-dialog .p-dialog-header {
  border: 1px solid rgb(247, 247, 247);
  padding: 10px;
}

.modal-header {
  border: 1px solid rgb(246, 244, 244);
}

/* modal */


/* filter */


.filter-btn {
  background-color: #e3e3e3;
  color: #000;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.filter-btn:focus,
.filter-btn:hover {
  background-color: #bcbcbc;
  border: none;
}

.filter-body {
  width: 92%;
  margin: 34px auto 8px auto;
  padding: 30px 55px;
  background-color: #f8f7f7;
  border-radius: 10px;
  border: 0-5px solid rgb(173, 171, 171);
}

.filter-search {
  background-color: #132742;
  border: none;
  width: 54px;
  height: 42px;
  border-radius: 6px;
  color: #fff;
  margin-top: 33px;
  margin-left: 10px;
}

.filter-search1 {
  background-color: #132742;
  border: none;
  width: 54px;
  height: 42px;
  border-radius: 6px;
  color: #fff;
  margin-top: 35px;
  margin-left: 10px;

}

.filter-search3 {
  background-color: #132742;
  border: none;
  width: 100px;
  height: 42px;
  border-radius: 6px;
  color: #fff;
  margin-top: 35px;
  margin-left: 10px;

}

.filter-search3:hover {
  background: #415671;
}

.form-label {
  margin-left: 0;
  font-weight: 500;
}

.form-select {
  height: 46px;
  font-size: 13px;
  width: 100%;
  margin-left: 0;
}

.form-select option {
  color: #000;
}

.form-select:focus {
  color: #000;
}

.form-select option[value=""][disabled] {
  display: none;
}

.search .form-control {
  height: 46px;
  width: 100%;
}

.form-control {
  height: 46px;
  width: 100%;
}

.form-control::placeholder {
  font-size: 13px;
}

.form-check-label {
  font-size: 14px;
}

.form-check-input:checked {
  background-color: #132742;
  border-color: #132742;
}

.form-check-input:checked:focus {
  border-color: #132742;
  box-shadow: 0 0 0 0.25rem rgba(238, 162, 81, 0.25);
}

.form-check-input:checked+.form-check-label::before {
  background-color: #132742;
  border-color: #132742;
}

::ng-deep .custom-table .button i {
  font-size: 14px;
}


/* Loader styles */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Optional: for overlay effect */
  z-index: 9999;
}

.spinner {
  border: 8px solid #132742;
  border-top: 8px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.document-expiry {
  margin-top: 35px;
}