@import "@ng-select/ng-select/themes/default.theme.css";



* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;

}

/* breadcrums start */

.main{
  padding: 30px;
}

.breadcrumb {
    list-style: none;
    padding: 10px;
    margin-left: 40px;
}

.breadcrumbs {
    position: relative;
    display: inline-block;
}

.breadcrumbs:not(:last-child)::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 10px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"%3E%3Cpath fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"%3E%3C/path%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
}

.bi-house-door-fill {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.breadcrumb a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}



.home-icon {
    margin-right: 5px;
}

.arrow-icon {
    margin: 0 5px;
}

.bi-chevron-right {

    max-width: 25px;
    font-size: 13px;
    margin-top: 5px;

}

.bi-chevron-right::before {
    font-weight: bolder !important;
}


/* breadcrums end */




/* Loader styles */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.spinner {
    border: 8px solid #132742;
    border-top: 8px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* End Loader styles */