
/* button style */

.bttn {
    background-color: #132742;
    color: #fff;
    width: 90px;
    font-size: 18px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    max-width: 100px;
    height: 42px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 15px;
    border: none;
}

.bttn:hover {
    background-color: #3e5472;
    color: white;
}

/* End button style */



/* form style */

.box {
    border: 0.5px solid #b0b0b0;
    height: auto;
    width: 93%;
    margin: 0 250px 70px 50px;
    padding: 30px 50px 50px 50px;
}

.required {
    color: red;
}

.title {
    color: #000;
    font-size: 18px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding-bottom: 5px;
}


.emp-box {
    width: auto;
    border: 0.1px solid #e6e4e4;
    padding: 30px;
    margin-bottom: 17px;
}

.vertical-line-border {
    border-left: 0.1px solid #e6e4e4;
    height: 100vh;
    margin: 0 auto;
}



.form-label {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.form-select {
    height: 46px;
    font-size: 13px;
    color: #000000;
}

.form-select option {
    color: #000;
}


.form-control {
    height: 46px;
    font-size: 13px;
    color: #000000;
}

.error-msg {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


/* End form style */



/* table */

.table-box {
    width: 100%;
    height: 91%;
    border: 0.1px solid #e6e4e4;
    padding: 10px;
    margin-bottom: 17px;
    overflow-x: auto;
    font-size: 12px;
}

.table-custom-spacing tbody tr {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}




/*start - searchable dropdown */


.searchable-dropdown {
    position: relative;
    width: 100%;
}

.dropdown-input {
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown-input input {
    width: 100%;
    height: 46px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-icon {
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.close-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.searchable-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    z-index: 1;
}

.searchable-dropdown li {
    padding: 8px;
    cursor: pointer;
    font-size: 13px;
}

.searchable-dropdown li:hover {
    background-color: #f0f0f0;
}

.no-data-message {
    padding: 8px;
    font-size: 13px;
    color: #888;
}


/*end - searchable dropdown */



@media (max-width: 1264px) {

    .form-label,
    .empname,
    .form-control,
    .form-selec,
    .error-msg {
        font-size: 10px;
    }

    .empname input,
    .empname li {
        font-size: 10px;

    }
}




